@import url("https://cdn.syncfusion.com/ej2/material.css");


:root{
  --textColor:white;
  --backgroundColor:#06113C;
}
.App {
  text-align: center;

}
body{  

  background-color:var(--backgroundColor);
  text-shadow: 2px 2px 10px black;
  color:var(--textColor);
  letter-spacing: 2px;

}
footer{
  position:fixed;
  bottom:0;
  background-color: black;
  color:white;
  width: 100vw;
}