@import url("https://cdn.syncfusion.com/ej2/material.css");
@import 'style/color.css';

.App {
  text-align: center;

}
body{  
  transition: 0.5s ease all;
  background-color:var(--mainBackgoundColor);
  text-shadow: 2px 2px 10px black;
  color:var(--textColor);
  letter-spacing: 2px;

}
footer{
  
  transition: all 1s ease;
  position:fixed;
  bottom:0;
  background-color: var(--footerBackgroundColor);
  color:var(--footerColor);
  width: 100vw;
}